* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}

body {
    /* Con este bloque de codigo el contenedor queda en el centro de la pantalla */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #d6d6d6b0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    height: 100vh; 

}

.form-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #111827;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;

}

.form-container h2, h3{
    text-align: center;
    border-bottom: 2px solid #d900ff;
    margin-bottom: 10px;
}
legend {
    border-bottom: 2px solid #d900ff;
}

.form-container label {
    display: block;
}

.form-group input{
    color: #fff;
    outline: none;
    border: 1px solid #ffffffac;
    border-radius: 5px;
    background-color: transparent ;
    padding: 3px;
    &:focus {
        border-color: #d900ff;
    }
    
}


.form-group button {
    background-color: transparent;
    border: 2px solid #ffffffac;
    border-radius: 8px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    &:hover {
        border: 2px solid #d900ff;
        transition: all 0.2s ease-in;
    }

}

input[type="checkbox"] {
    margin-right: 10px; 
}



.info-container {
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    background-color:#111827;;
    box-shadow: 0 0 10px #0009;
}

.info-container span {
    display: block;
}

.info-container  h4 {
    border-bottom: 1px solid #d900ff;
    border-right: 1px solid #d900ff;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.info-container label {
    margin-top: 5px;
    display: block;
}